
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}


.navbar-brand{
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-link{
    text-transform: uppercase;
    font-size: 0.95rem;
    letter-spacing: 1px;
}

.hero{
    height: 350px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}



.noticia-img{
    width: 100%;
    height: 220px;
    object-fit: cover;     
    border-radius: 5px;
}

@media (max-width: 767px){

    .table td:nth-child(4),
    .table th:nth-child(4){
        display: none;
    }
}
